*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.first {
    background-image: url(../img/Mask\ Group.png);
    background-repeat: no-repeat;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.header p:hover {
    color: rgb(199, 193, 193);
    text-decoration: underline;
}
.center {
    display: flex;
    gap: 15px;
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}
p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FFFFFF;   
}
.first_bg_img  {
   margin: 0 auto;
   text-align: center;

}
.first_bg_img img{
   margin-bottom: 130px;

}
.first_bg_img h1 {
    position: absolute;
    top: 400px;
    left: 230px;
    font-family: Cormorant Upright;
    font-size: 181px;
    font-weight: 700;
    line-height: 235px;
    letter-spacing: 0.05em;
}
.second {
    background-color: rgb(47, 43, 43);
    height: 650px;
    padding-top: 50px;
}
.table_book {
    padding-top: 40px;
   max-width:100% ; 
    height:470px ;
    background-color: #000000;
    border: 1px solid #F5EFDB;
    box-shadow: 22px 30px 95px 1px #0000;
    align-items: center;
}
.text {
    text-align: center;
}
.text h2 {
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
text-align: center;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
margin-bottom: 50px;
}
.reservation{
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
}
select {
    width: 300px;
    background-color: #0C0C0C;
    border: 1px solid #F5EFDB;
    padding: 0 10px;
}
.input {
    display: flex;
    justify-content: center;
    gap: 20px;
}
input {
    text-align: center;
    height: 60px;
    width: 300px;
    background-color: #0C0C0C;
    border: 1px solid #F5EFDB;
}
.book{
    background-color: #DCCA87;
    padding: 8px 32px;
    border: 1px solid #DCCA87;
    color: #0C0C0C;
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
display: block;
margin: 60px auto;
transition: 500ms;  
}
.third {
    background-image: url(../img/Mask\ Group.png);
    background-repeat: no-repeat;
    padding-top: 100px;
}
.image_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:100px;
}
.elem_text h2{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
}
.elem img{
margin-top: 50px;
}
.about {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #AAAAAA;
}
.know_btn {
    background-color: #DCCA87;
    padding: 8px 32px;
    border: 1px solid #DCCA87;
    color: #0C0C0C;
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
margin: 20px 0;
transition: 500ms;
}
button:hover {
    border-radius: 40px;
    scale: 1.3;
    text-decoration: underline;
}
button:active {
    color: rgb(12, 12, 12);
    background-color: aqua;
    border: none;
}
.four {
    height: 800px;
    background-color: #090808;
}
.poison {
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
color: #FFFFFF;
margin-top: 30px;
}
.four_text {
    text-align: center;
    padding-top: 40px;
}
.four_text h2 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
}
.flex_img {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}
.flex_img img {
    max-width: 300px;
}
.flex_img h2 {
    position: absolute;
   right: 1060px;
   margin-top: 200px;
   font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 130%;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
}
.fives {
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    height: 800px;
}
.happy {
    padding-top: 250px;
    padding-bottom: 0;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
}
span {
    padding-top: 0;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}
.menu {
    background-color: #0C0C0C;
}
.choose {
  padding-top: 150px;
    text-align: center;
}
.choose p {
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.04em;
    line-height: 30px;
    font-family: 'Cormorant Upright', serif;
    color: white;
}
.choose img {
    margin: 10px 0;
}
.choose  h2 {
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: 0.04em;
    line-height: 83px;
    color: #DCCA87;
}
.menu_img {
    position: absolute;
    left: 550px;
    height: 659px;
    width: 380px;
}
.beer_coctail h3 {
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0.04em;
    line-height: 58px;
    color: white;
    padding-bottom: 50px;
    margin-left: 50px;
    font-family: 'Cormorant Upright', serif;
}
.beer_coctail p {
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.04em;
    line-height: 30px;
    color: #DCCA87;
    cursor: pointer;
    display: inline;
    padding-right: 32px;
}
.beer_coctail a {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    text-decoration: none;
    display: block;
    margin-bottom: 41.5px;
}
.beer_coctail b {
    display: inline;
    color: white;
    font-weight: normal;
}
.beer_coctail img {
    padding-right: 20px;
}
.flex_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.View_more_btn {
    padding-bottom: 150px;
}
.btn {
    background-color: #DCCA87;
    padding: 8px 32px;
    border: 1px solid #DCCA87;
    color: #0C0C0C;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    transition: 500ms;
}
.six {
    background-image: url(../img/Mask\ Group.png);
    background-repeat: no-repeat;
    height: 820px;
}
.six_flex {
    display: flex;
    justify-content: space-between;
}
.six_image img{
    padding-top: 150px;
   max-width: 450px;
}
.contact {
    padding-top: 160px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #AAAAAA;
}
.six_text h2 {
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: 0.04em;
    line-height: 83px;
    color: #DCCA87;
    margin-bottom: 50px;
}
.find_us {
    margin-bottom: 25px;
}
.open {
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
margin-bottom: 20px;
}
.date {
    margin-bottom: 60px;
}
.visit {
    background-color: #DCCA87;
    padding: 8px 32px;
    border: 1px solid #DCCA87;
    color: #0C0C0C;
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
margin: 15px 0;
transition: 500ms;
}
.seven {
    background-image: url(../img/Mask\ Group.png);
    background-repeat: no-repeat;
    padding: 100px
}
.table_book_two {
    padding: 40px;
    max-width:100% ; 
     height:470px ;
     background-color: #000000;
     border: 1px solid #F5EFDB;
     box-shadow: 22px 30px 95px 1px #0000;
     align-items: center;
}
.input_flex{
    margin-top: 40px;
    display: flex;
    gap: 25px;
    justify-content: center;
}
.seven_inp  {
  padding-left: 80px;
}
.seven_inp input{
    width: 600px;
}
.seven_btn {
   display: flex;
    align-items: center;
}
.Subscribe {
    font-family: 'Cormorant Upright', serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #0C0B08;
    height: 44px;
    width: 157px;
    border-radius: 2px;
    background: #DCCA87;
    border: 0;
    transition: 500ms;
}
.last_gr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
    align-items: center;
}
.last_first h3{
    font-family: 'Cormorant Upright', serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.04em;
    line-height: 42px;
    color: #F5EFDB;
    padding-bottom: 25px;
}
.last_first p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 28px;
    color: #AAAAAA;
    margin-bottom: 8px;
}
.last_first a {
    text-decoration: none;
}
.last_second h2{
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.04em;
    line-height: 83px;
    color: #DCCA87;
    margin-bottom: 15px;
}
.last_second p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 28px;
    color: rgb(146, 141, 141);
    margin-bottom: 20px;
}   
.last_third h3{
    font-family: 'Cormorant Upright', serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.04em;
    line-height: 42px;
    color: #F5EFDB;
    padding-bottom: 25px;
    margin-top: 25px;
}
.last_third p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 28px;
    color: #AAAAAA;
    margin-bottom: 8px;
}
.menu_1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    flex-direction: column;
    padding: 80px 50px;
    transition: 500ms;
    z-index: 999;
}
span {
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: white;
    display: none;
    margin: 3px;
}
.active {
    display: flex;
    left: 0;
}
.menu_1 a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    transition: 300ms;

}
.menu_1 a:hover {
    color: rgb(85, 0, 255);
}
